extends layout

block append vars
  - bodyclass = 'article-detail'
  
block head
    meta(name='description' content='#{cleanDescription(page.markdown)}')
    link(rel="canonical" href="#{locals.url}#{page.url}")

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h2= page.title
  p.author
    | Written
    span= " " + moment.utc(page.metadata.date).format('MMM. DD, YYYY') + " "
    | by #{page.__env.locals.owner}

block content
  article.article
    section.content!= typogr(page.html).typogrify()

  p(style="text-align:right")
      a(href="https://twitter.com/share" class="twitter-share-button" data-via="honyovk" data-dnt="true") Tweet
  script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog
