extends layout

block head
    meta(name='description' content='#{description}')
    link(rel="canonical" href="#{locals.url}/")

block content
  include author
  each article in articles
    article.article.intro
      header
        h2
          a(href=article.url)= article.title
        p.date
          span= moment.utc(article.date).format('MM/DD/YYYY')
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url title=article.title) Read More

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
